.description {
    margin-left: 2em;
    margin-right: 1em;
}

.wrapup {
    padding: 0.2em 1em;
    border-radius: 10px;
}

.numbers {
    text-align: right;
}

.text {
    text-align: left;
}

h1, h2 {
    text-decoration: overline;
}

h1, h2, h3 {
    margin-top: 10%;
}

th, td, mtd {
    padding: 0 0.5em;
}

code {
    font-family: "Lucida Console", "Courier New", monospace;
}
