.description {
    margin-left: 2em;
    margin-right: 1em;
}
.numbers-in-table {
    text-align: right;
}
h1 {
    text-decoration: overline;
}
i {
    background-color: yellow;
}
td {
    padding: 0 1em;
}
